.THIS {
}
.THIS .slds-textarea
{
    height:100px;
}

.THIS .slds-modal__container{ 
     max-width: 70vh !important;
     width:70% !important;
     height: auto;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
        
   } 
.THIS   .modal-body{ 
     height : 40vh !important; 
     max-height: 40vh !important; 
   } 
.THIS   .slds-modal__footer{ 
     display: inline !important; 
   }